/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Work+Sans|Noto+Sans+Wancho);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  --header-hight: 60px;
  --font-size: 17px;
  --checkbox-size: 18px;
  --shadow: 0px 2px 20px #d5d7da;
}

body {
  background-color: #e0e7f0;
  font-family: 'Noto Sans Wancho', serif;
  font-size: var(--font-size);
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  height: var(--header-hight);
  background-color:  white;
  box-shadow: var(--shadow);
  z-index: 999;
  position: fixed;
  top: 0px;
  bottom: var(--header-hight);
  right: 0px;
  left: 0px;
  width: 100%;
}

.header-container > * {
  margin-right: 20px;
}

h1 {
  margin: 0px;
}

.header-button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
  font-size: 25px;

}

.header-spacer {
  display: flex;
  width:max-content;

  flex-grow: 10;
}

.notification-button {
  display: block;
  margin-left: auto;
}

.user-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}



.sidebar {
  display: flex;
  height: 100vh;
  background-color: rgb(251, 254, 255);
  box-shadow: var(--shadow);
  transition-property: width;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  z-index: 998;
  position: fixed;
  top: var(--header-hight);
  bottom: 0px;
  width: 0px;
}

.collapse {
  width: 0px;
}

/* .show {
    width: 330px;
} */

.spacer {
  flex-grow: initial;
}

input[type=text],
input[type=email],
input[type=password]
{
  border: 0;
  border-bottom: 1px solid black;
  font-size: calc(  var(--font-size) - 2px);
  padding: 0;
  margin: 5px 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--bs-blue);
  padding: 0;
  margin-bottom: 4px;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover
{
  border: 0;
  border-bottom: 2px solid var(--bs-blue);
  padding: 0;
  margin-bottom: 4px;
}

input[type=checkbox] {
  visibility: visible;
  display: inline-block;
  /*If don't f****** set the appearance to none then it will apply the default styling */
  appearance: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 3px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

input[type=checkbox]:checked{
  background-image: url("/assets/check-solid.svg");
  background-color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  outline: 0;
}

input[type=checkbox]:hover{
  background-color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  outline: 0;
}

input[type=checkbox] + label{
  border: 0;
  outline: 0;
  background-color: green;
}


