<div ngbDropdown>
    <fa-icon
        class="header-button"
        style="display: flex; align-items: center; justify-content: flex-end;"
        [icon]="faBell"
        ngbDropdownToggle>

    </fa-icon>
    <ul id="dropdown-basic" ngbDropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>


<!-- <div class="btn-group me-3">
	<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <fa-icon
            class="header-button"
            style="display: flex; align-items: center; justify-content: flex-end;"
            [icon]="faBell"
            ngbDropdownToggle>

        </fa-icon>
		<div class="dropdown-menu" ngbDropdownMenu>
			<button ngbDropdownItem>One</button>
			<button ngbDropdownItem>Two</button>
			<button ngbDropdownItem>Four!</button>
		</div>
	</div>
	<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
		<button type="button" class="btn btn-outline-success" ngbDropdownToggle>Or me</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<button ngbDropdownItem>One</button>
			<button ngbDropdownItem>Two</button>
			<button ngbDropdownItem>Four!</button>
		</div>
	</div>
</div> -->
